# Ignore secret and config files
# Ignore secrets
Skill_Swap_Backend/src/main/resources/credentials.properties
.env
*.key
*.pem

# Ignore build output
/target/

/build/

# Ignore logs
*.log

# Ignore IDE/project settings
*.iml
.idea/
.vscode/

